*#
*.un~
*~
.#*
.*.sw[a-z]
.DS_Store
.bundle
.bundle/*
.cache
.coverage
.env
.envrc
.kitchen.local.yml
.kitchen/
.rbenv
.ruby-gemset
.ruby-version
.rvmrc
.vagrant
.yardoc/
/cookbooks
Berksfile.lock
Gemfile.lock
\#*#
bin/*
coverage/
pkg/
